
{{ partial "header.html" . }}
{{ partial "navbar.html" . }}

<article class="article article-project" itemscope itemtype="http://schema.org/Article">

  {{ partial "page_header.html" . }}

  <div class="article-container">

    <div class="article-style" itemprop="articleBody">
      {{ .Content }}
    </div>

    {{ partial "tags.html" . }}
    {{ partial "page_author.html" . }}

    {{ $page := . }}


    {{ partial "cards_layout_portfolio.html" . }}

  </div>
</article>

{{ if .Site.Params.section_pager }}
<div class="article-container article-widget">
  {{ partial "section_pager.html" . }}
</div>
{{ end }}

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
